{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
  <p class="mb-3">Covid Sahyog is an initiative started by students of National Law University, Jodhpur in the challenging times of second wave. The aim of the initiative to provide maximum support to maximum people who are worst affected and in need of immediate assistance through dedicated on ground and off ground volunteers.</p>
  <p class="mb-3">Through this website, we are trying to specifically provide financial assistance to institution such as Hospitals, Orphanages, Old Age Homes, and other sister NGOs like us who are trying to help people in these challenging times.</p>
  <p class="mb-3">We aim to provide an interactive, user friendly and which provides a suitable gateway for bridging the gap between a capable donor and a donee in need.</p>
  <p class="mb-3">For any further assistance, please do not hesitate to contact us :</p>
  <p class="mb-3">Himanshu Ranjan (Founder) - +91 80519 80868</p>
  <p class="mb-3">Ritik Kanoujia - (Co-Founder) - +91 79056 47242</p>
</div>


{% endblock %}
