{% extends 'base.html' %}

{% block content %}

  <style>
    select: {
      width: 100%;
    }
  </style>

  <div class="container">
    <form class="my-5"
          action="{% url 'submit_help_request' %}"
          method="POST">

      {% csrf_token %}

      <h3 class="my-3">Please fill this form:</h3>

      {% if request_form.errors %}
        <p>The form has errors. Please check the messages below fields.</p>
      {% endif %}

      <h5 class="my-3">Required fields</h5>

      {% include 'base_help_form_required.html' %}

      {% include 'base_help_form_optional.html' %}

      {% include 'base_help_form_admin.html' %}

      <input type="submit"
              class="btn btn-primary"
              value="Submit">

    </form>
  </div>

{% endblock %}
